<div class="main-container">
  <div class="nav-container">
    <ul>
      <li><a href="dashboard">แดชบอร์ด</a></li>
      <li><a href="leave-request-form">ขอลางาน</a></li>
      <li><a href="leave-history">ประวัติการลา</a></li>
    </ul>
  </div>

  <div class="component-container">
    <!-- <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ isDarkMode ? 'brightness_7' : 'brightness_6' }}</mat-icon>
    </button> -->

    <!-- <app-navbar></app-navbar> -->
    <!-- <app-leave-history></app-leave-history> -->
    <!-- <app-dashboard></app-dashboard> -->
    <!-- <app-leave-request-form></app-leave-request-form> -->

    <!-- <app-leave-balance-display></app-leave-balance-display> -->
    <!-- <app-role-guard></app-role-guard> -->
    <router-outlet></router-outlet>
  </div>
</div>