.theme {
  margin-right: auto; /* ทำให้ปุ่ม theme อยู่ทางซ้ายสุด */
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.theme mat-icon {
  font-size: 24px;
}

.img {
  margin-right: auto; /* ทำให้ปุ่ม theme อยู่ทางซ้ายสุด */
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.nav-container {
    max-width: 970px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  /* สไตล์สำหรับเมนู */
.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* สไตล์สำหรับรายการในเมนู */
  .nav-container ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .nav-container li {
    padding: 10px 20px;
  }
  
  /* สไตล์สำหรับลิงก์ */
  .nav-container a {
    text-decoration: none;
    font-weight: bold;
    color: #555;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
  }
  
  /* สไตล์เมื่อ hover */
  .nav-container a:hover {
    color: #0069d9;
  }
  
  /* สไตล์เมื่อเลือกแท็บ */
  .nav-container .active-tab {
    color: #0069d9;
  }
  
  /* แถบแสดงสถานะการเลือก */
  .tab-indicator {
    height: 3px;
    background-color: #0069d9;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: left 0.3s, width 0.3s;
  }
  
  /* เมื่อมีการเลือกแท็บ ให้แถบตำแหน่งถูกแสดง */
  .nav-container .active-tab::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0069d9;
  }
  